*{
    color:blue;
}

h2,h3{
    color:yellow;
}

div > p{/*descendiente directo*/
    font-style: italic;
    opacity: 0.5;
}

div p{/*todos p dentro div.No necesario descendiente directo*/
    font-weight: bold;
    height: 50px;
    width: 70%;
    margin: 20px auto;
    overflow: scroll;
}

.titulo,.subtitulo{
    text-decoration: underline;
}

#main_titulo{
    border: 1px solid black;
}

label + input{/*aplica 1 hijo directo*/
    content:'*';
}

label ~ input{/*aplica todos inputs detras de un label*/
    width: 50px;
}

input[required]{
    border: 2px solid orange;
}

a[href$=".es"]{/*Terminar en .es*/
    color:red;
}

a[href^="www"]{
    text-decoration: line-through;
}

a:not([href^="http"]){/*empiecen por */
    text-decoration: overline;
}

a:not([href*="http"]){/*contengan */
    font-size: 20px;
}

h1:not(.subtitulo){
    text-decoration: line-through;
}

body{
    background-color: aqua;
}

span{
    display:block;/*salto linea*/
}

#mi_difuminado{
    box-shadow: 20px 50px 10px 20px red;
    width: 50%;
}

body{
   /* background-image: url("gif.gif");*/
    /* background-repeat: no-repeat; */
}

header{
    background:linear-gradient(rgb(179, 174, 174),rgb(250, 253, 250));
}

#transformacion{
    opacity:0.3;
    transform: rotate(35deg);
    height: 200px;
    width: 200px;
}




